html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  margin: 0;
  /* body가 갖고있는 margin 제거 */
  font-size: 14px;
  font-family: "Noto Sans CJK KR";
  background-color: white;
}

* {
  box-sizing: inherit;
}

header {
  border-bottom: 1px solid rgb(229, 235, 235);
}

#container {
  flex-direction: row;
  display: flex;

  /*margin : 17px 40px 10px 40px;*/
  padding-left: 40px;
  padding-right: 40px;
  /*border: 1px solid red;*/
}

#header_logo a {
  display: flex;
  padding-left: 16px;
}

#header_logo a img {
  align-self: center;
  /*padding-top:17px;*/
}

#topMenu {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  /* 이걸로 nav의 영역을 만들어주자 */
  /*border: 1px solid red;*/
}

#topMenu ul {
  flex-grow: 1;
  /* 마찬가지로 이걸 통해서 nav의 영역을 통으로 먹자*/
  display: inline-flex;
  flex-direction: row;
  /* ul에 기본적으로 먹히는 개행을 제거하자.*/
  padding: 0;
  margin: 0;
  /*border: 1px solid green;*/
  text-align: left;
}

#topMenu ul li {
  display: inline-flex;
  /*border: 1px solid blue;*/
  list-style: none;
}

#topMenu ul li a {
  flex-grow: 1;
  display: inline-flex; /* text에 정렬을 주기위하여 */
  align-items: center;

  padding: 0px 12px 0px 12px;
  /*border: 1px solid black;*/
  color: #abb1b1;

  /*text-align: center;*/
  /*line-height: 1.7;*/
}

#member {
  display: inline-flex;
  flex-direction: row;

  /*border: 1px solid red;*/
}

#member a {
  display:inline-flex;
  align-items: center;

  padding: 0px 13px 0px 15px;
  /*border: 1px solid blue;*/
  color: #17a1ff;
}

.header-link {
  height: 62px;
  text-decoration: none;
}

.header-link:hover, focus {
  color: rgb(0, 73, 88) !important;
  /* important를 먹이는 이유? : class이기 때문에 우선순위가 id에 밀려서 색상이 안 먹힘. */
  background-color: #f5faf9;
}
