#main-content header {
    height: $main-content-header-height;
    background-color: $main-content-header-background-color;
    background-image: url($main-content-header-background-img);
    background-size: cover;
    background-position: center top;
}

.main-header-container {
    margin-left: $main-content-header-content-margin-left;
    padding-top: $main-content-header-content-padding-top;
    font-family: $general-font-family;
    line-height: $general-line-height;

    h1 {
      display: inline;
      line-height: $general-line-height;
    }

    p {
      margin-top: $main-content-header-content-p-margin-top;
    }
}

#main-header-btns a {
    margin-top: $main-content-header-btns-margin-top;

    :nth-child(1) {
      margin-right: $main-content-header-btns-margin-top;
    }

    :nth-child(2) {
      background-color: $main-content-header-btns-right-background-color;
    }
}

#latests-title {
    display: flex;
    flex-direction: row;
    width: $latest-title-line-width;
    margin-top: $latest-title-line-margin-top;
    border-top: 1px solid rgba(0, 40, 61, 0.4);

    a {
        padding-top: $latest-title-a-padding-top;
    }

    h2 {
        padding-top: $latest-title-h2-padding-top;
        margin-top: $latest-title-h2-margin-top;
        margin-right: $latest-title-h2-margin-right;
        border-top: 1px solid black;
    }
}

footer {
    height: $footer-height;
    background-color: $footer-background-color;
    text-align: center;

    a {
        margin-right: $footer-a-margin-right;

        img {
            width: $footer-a-img-width;
            height: $footer-a-img-height;
        }
    }

    ul {
        display: inline-flex;
        flex-direction: row;

        li {
            list-style: none;
            margin-right: $footer-ul-li-margin-right;
            color: $header-link-hover-color;
        }
    }
}
