#main-content header {
    height: 971px;
    background-color: $general-background-color;
    background-image: url('../img/home-cover.jpg');
    background-size: cover;
    background-position: center top;
}

.main-header-container {
    margin-left: 252px;
    padding-top: 64px;
    font-family: $general-font-family;
    line-height: $general-line-height;

    h1 {
      display: inline;
      line-height: $general-line-height;
    }

    p {
      margin-top: 20px;
    }
}

#main-header-btns a {
    margin-top: 35px;
}

#main-header-btns a:nth-child(1) {
  margin-right: 12px;
}

#main-header-btns a:nth-child(2) {
  background-color: $general-font-color;
}


#latests-title {
    display: flex;
    flex-direction: row;
    width: 936px;
    margin-top: 79px;
    border-top: 1px solid rgba($navy, 0.4);

    a {
        padding-top:20px;
    }

    h2 {
        padding-top: 20px;
        margin-top: -1px;
        margin-right: 16px;
        border-top: 1px solid $navy;
    }
}

footer {
    height: 60px;
    background-color: $general-background-color;
    text-align: center;

    a {
        margin-right:50px;

        img {
            width: 110px;
            height: 20px;
        }
    }

    ul {
        display: inline-flex;
        flex-direction: row;

        li {
            list-style: none;
            margin-right: 27px;
            color: $general-font-color;
        }
    }
}
