/* header에 사용되는 layout */

header#header {
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: $general-border-bottom;

  #container {
    flex-direction: row;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;

    #header_logo {
      a {
        display: flex;
        padding-left: 16px;

        img {
          align-self: center;
        }
      }
    }

    #member {
      display: inline-flex;
      flex-direction: row;

      a {
        display: inline-flex;
        align-items: center;
        padding-right: 13px;
        padding-left: 15px;

        color: #17a1ff;

      }
    }
  }
}

/* header's */
nav#topMenu {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;

  ul {
    flex-grow: 1;
    /* 마찬가지로 이걸 통해서 nav의 영역을 통으로 먹자*/
    display: inline-flex;
    flex-direction: row;

    text-align: left;
    li {
      display: inline-flex;
      list-style: none;
      a {
        flex-grow: 1;
        display: inline-flex;
        /* text에 정렬을 주기위하여 */
        align-items: center;
        padding-right: 12px;
        padding-left: 12px;
        color: #abb1b1;
      }
    }
  }
}

.header-link {
  height: 62px;
}
.header-link {
  &:hover, &:focus {
    color: $general-font-color !important;
    /* important를 먹이는 이유? : class이기 때문에 우선순위가 id에 밀려서 색상이 안 먹힘. */
    background-color: $general-background-color;
    text-decoration: none;
  }
}
