/* color */
$cool-gray-50: #f8fbfb;
$cool-gray-200: #e5ebeb;
$cool-gray-300: #d2d7d7;
$cool-gray-400: #c0c6c6;
$cool-gray-500: #abb1b1;
$navy: #00283d;
$blue-green: #1b7c92;
$azure: #17a1ff;
$sky-blue: #54b6ff;
$jungle-green: #017d4b;
$emerald: #009a5d;
$seaweed: #1bc481;
$deep-teal: #004958;
$bluish: #1f91aa;
$tealish-green: #0dd284;
$cerulean: #0783d7;
$petrol: #005f74;
$dark-teal: #003843;
$light-khaki: #f4d5ba;
$beige: #e6c2a2;
$pale: #ffebd9;
$sunflower-yellow: #fad300;
$orangey-red: #ff3737;
$white: #ffffff;

// bootstrap variables
$brand-primary: $azure;
$brand-success: $emerald;
$brand-info: $sky-blue;
$brand-warning: $sunflower-yellow;
$brand-danger: $orangey-red;

/* general */
$general-border-bottom: 1px solid $cool-gray-300;
$general-font-family: "Noto Sans CJK KR";
$general-font-size: 14px;
$general-line-height: 1.4;
$general-font-color: $deep-teal;
$general-background-color: $cool-gray-50;

$h1-font-size: 45px;
$h2-font-size: 16px;
$p-font-size: 16px;
