/* general */
$general-background-color: white;
$general-border-bottom: 1px solid rgb(229, 235, 235);
$general-font-family: "Noto Sans CJK KR";
$general-font-size: 14px;
$general-line-height: 1.4;
$general-font-color: rgb(0, 73, 88);

$h1-font-size: 45px;
$h2-font-size: 16px;
$p-font-size: 16px;

/* header */
$header-link-height: 62px;
$header-link-hover-color: rgb(0, 73, 88);
$header-link-hover-bg: #f5faf9;
$header-container-padding-left: 40px;
$header-container-padding-right: 40px;
$header-logo-padding-left: 16px;

/* header-nav */
$nav-color: #abb1b1;
$nav-a-padding: 0px 12px;

/* header-member */
$member-color: #17a1ff;
$member-a-padding: 0px 13px 0px 15px;

/* main-content-header*/
$main-content-header-height: 971px;
$main-content-header-background-color: #DBE1E0;
$main-content-header-background-img: "../img/home-cover.jpg";
$main-content-header-content-margin-left: 252px;
$main-content-header-content-padding-top: 64px;
$main-content-header-content-p-margin-top: 20px;
$main-content-header-btns-margin-top: 35px;
$main-content-header-btns-left-margin-right: 12px;
$main-content-header-btns-right-background-color: #004958;
