/* header */

/*html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  margin: 0;*/
  /* body가 갖고있는 margin 제거 */
  /*font-size: 14px;
  font-family: "Noto Sans CJK KR";
  background-color: white;
}

* {
  box-sizing: inherit;
}*/

/*#topMenu {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
}

#topMenu ul {
  flex-grow: 1;
  display: inline-flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  text-align: left;
}

#topMenu ul li {
  display: inline-flex;
  list-style: none;
}

#topMenu ul li a {
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  padding: 0px 12px 0px 12px;
  color: #abb1b1;
}*/

/*header {
  border-bottom: 1px solid rgb(229, 235, 235);
}*/
/*
a:hover, a:focus {
  text-decoration: none;
}*/

/*
h1 {
  font-size: 45px;
}

h2 {
  font-size: 16px;
}*/

/*#container {
  flex-direction: row;
  display: flex;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}*/

/*#header_logo a {
  display: flex;
  padding-left: 16px;
}

#header_logo a img {
  align-self: center;
  padding-top:17px;
}*/

/*#member {
  display: inline-flex;
  flex-direction: row;
}

#member a {
  display: inline-flex;
  align-items: center;
  padding: 0px 13px 0px 15px;
  color: #17a1ff;
}*/

/*.header-link {
  height: 62px;
  text-decoration: none;
}

.header-link:hover, .header-link:focus {
  color: rgb(0, 73, 88) !important;
  background-color: #f5faf9;
}*/


/* main */

/*#main-content header {
  width: 100%;
  height: 971px;
  background-color: #DBE1E0;
  background-image: url('../img/home-cover.jpg');
  background-size: cover;
  background-position: center top;
}

.main-header-container {
  margin-left: 252px;
  padding-top: 64px;
  font-family: NotoSansKR;
  color: #003844;
  line-height: 1.4;
}

.main-header-container h1 {
  display: inline;
  font-size: 45px;
  line-height: 1.4;
}

.main-header-container p {
  margin-top: 20px;
  font-size: 16px;
}

#main-header-btns a {
  margin-top: 35px;
}

#main-header-btns a:nth-child(1) {
  margin-right: 12px;
}*/
/*
.btn {
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  text-align: center;
  background-color: #17a1ff;
}*/



/* transform css to scss by this line*/
/*#main-header-left {
  display: inline-block;
  width: 170px;
  margin-top: 62px;
  border-top: 1px solid black;
}

#main-header-right {
  width: 766px;
  border-top: 1px solid #e5ebeb;
  border-top-color: black;
}*/

/*#latests-title {
  display: flex;
  flex-direction: row;
  width: 936px;
  margin-top: 79px;
  border-top: 1px solid rgba(0, 40, 61, 0.4);
}

#latests-title h2 {
  padding-top: 16px;
  margin-top: -1px;
  margin-right: 16px;
  border-top: 1px solid black;
}

#latests-title a {
  padding-top: 16px;
}*/

/*#summary {
  height: 560px;
  background-color: #005f74;
  background-image: url('../img/home-service.png');
  background-size: cover;
}*/

/*footer {
  display: flex;
  flex-direction: row;

  height: 114px;
  background-color: #ffffff;
}

footer a img {
  width:110px;
  height: 22px;

  margin : 47px 0px 45px 255px;
}*/
